<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Styled Button List</title>
    <link href="./style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Examples</h1>
    <ul>
      <a href="./RegExp/"
        ><li><button>RegExp Patch</button></li></a
      >
      <a href="./XMLHttpRequest/"
        ><li><button>XMLHttpRequest Patch</button></li></a
      >
      <a href="./Input/"
        ><li><button>Input Patch</button></li></a
      >
      <a href="./Scope"
        ><li><button>Scope Patch</button></li></a
      >
    </ul>
  </body>
</html>
